
{{#unless isGeolocationSupported}}
<div class="alert alert-danger" role="alert">
  Geolocation is not supported by this browser
</div>
{{/unless}}

<h4>Enter a location:</h4>

<form>
  <div class="form-group col-xs-4">
    <button class='use-current btn btn-default' {{action 'useCurrent'}}>
      {{#if isLocating}}Locating...{{else}}Set to current location{{/if}}
    </button>

    <div class='lat-input-div'>
      <label for="lat-input">Latitude</label>
      {{input id='lat-input' type='text' 
        value=latitude class='form-control'}}
    </div>
    <div class='long-input-div'>
      <label for="long-input">Longitude</label>
      {{input id='long-input' type='text' 
        value=longitude class='form-control'}}
    </div>
  </div>
</form>

<img class='google-map' src='{{mapUrl}}'>

{{outlet}}
